.icon-expand-more:before {
    content: "expand_more";
}

.icon-search:before {
    content: "search";
}

.icon-local-offer:before {
    content: "local_offer";
}

.icon-arrow-back:before {
    content: "arrow_back";
}

.icon-more_vert:before {
    content: "more_vert";
}
.icon-tag:before {
    content: "label_outline";
}
.icon-menu:before {
    content: "menu";
}


