.shopup-offer-list-screen {
  /*&.transition-enter {
    opacity: 0.01;
  }

  &.transition-enter.transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  &.transition-leave {
    opacity: 1;
  }

  &.transition-leave.transition-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }*/


  .images {
    //max-height: 60vh;
  }
}