.shopup-img-offer-list {
  &.transition-enter {
    opacity: 0.01;
  }

  &.transition-enter.transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  &.transition-leave {
    opacity: 1;
  }

  &.transition-leave.transition-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  //flex-wrap: wrap;
  //justify-content: space-around;
  //align-items:flex-start;
  //align-content: stretch;
  //
  //height: auto;

  .grid-list {
    background-color: #a94aff !important;
    max-width: 100vw;
    padding-right: 0.5vw;
    //height: 55%;
    //overflowY: auto;
    marginBottom: 24;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}