.shopup-img-offer-list {


  //flex-wrap: wrap;
  //justify-content: space-around;
  //align-items:flex-start;
  //align-content: stretch;
  //
  //height: auto;

  .grid-list {
    background-color: #a94aff !important;
    max-width: 100vw;
    padding-right: 0.5vw;
    //height: 55%;
    //overflowY: auto;
    marginBottom: 24;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}